.Rproj.user
.Rhistory
.RData
.DS_Store
inst/doc
README_cache
*.aux
*.log
RiskParityPortfolio_cache/
RiskParityPortfolio_files/
src/*.so
src/*.o
python/__pycache__
python/build
python/dist
python/var
python/riskparityportfolio.egg-info
python/riskparityportfolio.cpython-36m-darwin.so
python/.cache
python/.coverage
