export(gradient_log_formulation)
export(hessian_log_formulation)
export(obj_function_log_formulation)
export(risk_parity_portfolio_nn)
export(riskParityPortfolioDiagSigma)
export(riskParityPortfolioGenSolver)
export(riskParityPortfolioNewton)
export(riskParityPortfolioSCA)
export(riskParityPortfolio)
useDynLib(riskParityPortfolio)
importFrom(Rcpp, sourceCpp)
